{% extends 'index/base.html' %}


{% block content %}


    <h2>Выберите место</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <p>
                <p style="color: red">{{ field }}</p>
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}

        </form>
    <form action="{% url 'parking:zone_choice' pk=pk %}">
        <input type="submit" value="Назад" />
    </form>

{% endblock %}